.row{
    
    width:1024px;
    height:550px; 
    margin:0 auto;
    background: black;
    background-image: url(C:\pk_car\pk-car\src\assets\trapezoid.png);
    background-size: cover;
}

.container-fluid{
    padding:0;
}
.cars{
    font-family : Sansserif,Monospace;
    Font-Size :60px;
    Color:#e2000a;
    padding-left:31px;
    padding-top:15px;   
    height:120px;
}
.Inc{
    font-family : Sansserif,Monospace;
    Font-Size :37px;
    Color:#e2000a;   
    padding-left:31px; 
    margin-top:-25px;
}
.randomtext{
    font-family : Sansserif,Monospace;
    Font-Size :14px;
    Color:#000;
    padding-left:31px;
    font-weight: bold;
}
.p1{
    margin:0px;
    padding-left: 30px;
   
}

.navbar1{
    a{    
    font-family : Sansserif,Monospace;
    Font-Size :15px;
    Color:#fff;
    justify-content: flex-end;
    float:right;
    padding-left: 10px;
    padding-top:  30px;
    padding-right: 31px;
    }
}



.search{
    width: 256px;
  
}
.row1{
    width:1024px;
    height:550px; 
    margin:0 auto;
}

.CarHeading{
    font-family : Sans-serif,Monospace ;
    font-size :20px;
    Color:#80c1ce;
    font-weight: bold;
    text-align: center;
}

.CarImage{
    background-image: url();
    background-size: cover;
    
}

.CarDetails{
    font-family : Sans-serif,Monospace ;
    font-size :14px;
    Color:black;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.gallery{
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    padding-left: 31px;
    padding-right: 31px;
    width: 962px;

}

.images{
    margin-left: auto;
    margin-right: auto;
    
    img{
        width: 142px; 
        height: 160px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
    padding-bottom: 30px;
    padding-left: 70px;
}

footer{
    font-family: Sansserif,Monospace;
    Font-Size :15px;
    Color:#fff;
    background-color:#333333;
    width:1024px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    }

    .input-group{
        width: 234px;
        font-family: Sansserif,Monospace;
        Font-Size:15px;
        Color:#80c1ce;
     
    }
    .input-group-text{
    width: 63px;
    height: 38px;
    
}

    