<div class>
    <div class="row">
      <div class="col-md-12"> 
        <div class="cars">CARS</div>
        <div class="Inc">Inc.</div>
        <div class="randomtext">
            <p class="p1">Find the best resale value cars</p>
            <p>and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.
            </p>
        </div>
    </div>

 </div> 
<div class="row1">
    <div class="CarHeading">
      
    </div>

</div>




</div>