
    <div class="row">
      <div class="col-md-12"> 
        <div class="cars">CARS</div>
        <div class="Inc">Inc.</div>
        <div class="randomtext">
            <p class="p1">Find the best resale value cars</p>
            <p>and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars<br>
            and price.Find the best resale value cars <br>
            and price.
            
            </p>
          
        
        </div>
        <div>
            
            <button><a href="https://google.com" class="btn btn-primary">Google</a></button>
            <button><a href="http://localhost:4200/#/home" class="btn btn-primary">Home</a></button>
          </div>
           
          
    </div> 

 </div> 
<div class="row1" *ngFor="let car of car">
    <div class="col-md-12"> 
    <div class="CarHeading"> 
        {{car.model}}
    </div>
    <div class="CarImage">
        <img src={{car.main}} width="962">
       
    </div>

    <div class="CarDetails">
        Name        :{{car.model}}<br>
        Color       :{{car.color}}<br>
        Topspeed    :{{car.topspeed}}<br>
        Price       :{{car.price}}

    </div>

    <div class="gallery">
        Gallery

    </div>
    <div class="images">
        <img src={{car.image1}}>
        <img src={{car.image2}}>
        <img src={{car.image3}}>
        <img src={{car.image4}}> 

    </div>



</div>
<footer> copyright @ ( Rahul )</footer>
</div>
