
 <div class>
        <div class="row">
          <div class="col-md-12"> 
            <div class="cars">CARS</div>
            <div class="Inc">Inc.</div>
            <div class="randomtext">
                <p class="p1">Find the best resale value cars</p>
                <p>and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.
                </p>
            </div>
            <div class="input-group mb-3">
                <select [(ngModel)]="selectedChoice" id="inputGroupSelect02" class="custom-select" >
                  <option [value]="car.id" *ngFor="let car of Cars">
                    {{car.model}}
                </option>
                 
                </select>

               
                <div class="input-group-append">
                  <button (click)= "onSearch()" class="input-group-text" for="inputGroupSelect02" ></button>
                </div>
              </div>
            
        </div>
        
            
            
       
        
     </div>    
     <div class="row1">
        <div class ="carstable">
            <table>
              <tr>
                <th>#</th>
                <th>Make</th>
                <th>Model</th>
                
              </tr>
              <tr *ngFor="let car of Cars">
              <td>{{ car.id }}</td>
              <td>{{ car.make }}</td>
              <td>{{ car.model }}</td>
             
              </tr>
            </table>
            </div>
           
     </div>
     
</div>
<footer> copyright @ ( Rahul )</footer>

