
 <div class="container">
        <div class="row">
          <div class="col-md-6"> 
            <div class="cars">CARS</div>
            <div class="Inc">Inc.</div>
            <div class="randomtext">
                <p class="p1">Find the best resale value cars</p>
                <p>and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.Find the best resale value cars<br>
                and price.
                </p>
            </div>
        </div>
    <div class="col-md-6">
        <div>
            <nav class="navbar1">
                <a href="https://google.com">  Google </a>
                <a href="http://localhost:4200/#/home">  Home </a>
            </nav>
        </div>
        <footer>
            <input type="text" id="search" placeholder="Search">
            <button type="button">GO</button>
        </footer>
    </div>
     </div>    
</div>